/* your code */
.tables{
	border-spacing : 0px;
/* 	border: 2px solid red; */
/* 	border-radius: 4px; */
}
.header{
	background-color : blue;
	border-radius: 45px;
}

thead tr td:first-child{
    border: 0px solid white; /* You can change the color and border width as needed */
	border-top-left-radius: 5px
}
thead tr td:last-child{
    border: 0px solid white; /* You can change the color and border width as needed */
	border-top-right-radius: 5px
}

td{
	padding: 20px;
}

tbody tr:nth-child(odd) {
	background-color: #f2f2f2; /* Background color for odd rows */
}

tbody tr:nth-child(even) {
            background-color: #; /* Background color for even rows */
}

tbody tr:hover {
    background-color: green;
    cursor: pointer;
}

/* Style for focus state */
tbody tr:focus {
    background-color: yellow;
    outline: none;
}